/*!
 * DisqusJS - Default Theme | v0.1.0
 * Author: SukkaW
 * Link: https://github.com/SukkaW/DisqusJS
 * License: GPL-3.0
 */

#dsqjs .dsqjs-container * {
    margin: 0;
    padding: 0;
}

#dsqjs .dsqjs-container {
    margin: 20px 0 0;
}

#dsqjs ul.dsqjs-list {
    list-style: none;
    list-style-type: none;
}

#dsqjs .dsqjs-item-container {
    position: relative;
    margin-bottom: 24px;
    transition: all .2s ease-in-out;
}

#dsqjs .dsqjs-item-container:after,
#dsqjs .dsqjs-item-container:before {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

#dsqjs .dsqjs-avater {
    margin-right: 12px;
    float: left;
    position: relative;
    z-index: 100;
    padding: 0;
}

#dsqjs a {
    text-decoration: none;
    color: #076dd0;
}

#dsqjs .dsqjs-avater img {
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 4px;
}

#dsqjs .dsqjs-body {
    overflow: hidden;
}

#dsqjs .dsqjs-header {
    line-height: 1;
    font-size: 13px;
}

#dsqjs .dsqjs-bullet {
    line-height: 1.4;
    margin: 0 4px;
}

#dsqjs .dsqjs-bullet::after {
    color: #c2c6cc;
    content: "•";
}

#dsqjs .dsqjs-author {
    line-height: 1;
    color: #2479cc;
    font-weight: 700;
}

#dsqjs .dsqjs-author .dsqjs-admin-badge {
    color: #fff;
    background: #687a86;
    padding: 1px 3px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 1px;
}

#dsqjs .dsqjs-meta {
    font-size: 12px;
    color: #656c7a;
}

#dsqjs .dsqjs-content p:last-child {
    margin: 0;
}

#dsqjs .dsqjs-content p {
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 12px;
    word-wrap: break-word;
}

#dsqjs .dsqjs-children>.dsqjs-item {
    margin-left: 60px;
}

#dsqjs .dsqjs-children .dsqjs-avater img {
    width: 38px;
    height: 38px;
}

#dsqjs .dsqjs-message {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

#dsqjs .dsqjs-no-comment {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
}

#dsqjs .dsqjs-message a {
    margin-left: 2px;
    margin-right: 2px;
}

.dsqjs-hide {
    display: none !important;
}